:root{
    --darkBlue: #06283D;
    --coldBlue: #256D85;
    --blue: #47B5FF;
    --lightBlue: #DFF6FF;
    --white: #fff;
    --black: #000;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../static/images/background.jpg");
    background-size: cover;
}




main{
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
    overflow: auto;
}

h1{
    color: var(--black);
    font-size: 30px;
}

h3{
    color: var(--darkBlue)
}


.navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 150px;
    align-items: center;
    margin-top: 20px;
    border-right: 2px solid var(--lightBlue);
}

#logo{
    width: 100px;
}

#nav{
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--black);
}


.link-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon{
    width: 20px;
    height: 15px;
    padding-right: 5px;
}

.content{
    padding: 20px 20px 20px 20px;
    width: 100%;
}

.account-wrapper{
    width: 100%;
}

.total-balance{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.total-balance p{
    color: var(--black);
}

#amount_balance{
    font-weight: 700;
    font-size: 20px;
}

.account_number, .account_balance{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 15px;
    cursor: pointer;
}

.account_number{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}

.account_balance{
    border: 3px solid rgba(255, 255, 255, 0.4);

}

input{
    background: var(--lightBlue);
    border: 3px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 50px;
    text-align: center;
    width: 125px ;
}

button{
    background: linear-gradient(90deg, rgba(71, 192, 230, 0.7) 0%, rgba(84, 215, 233, 0.7) 100%);
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    width: 80px;
}

.top-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-details a{
    text-decoration: none;
    color: var(--darkBlue);
}

@media(max-width:1206px){
    body{
        background-image: url("../static/images/background-mobile.jpg");

    }
}

#modal {
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	display:flex;
	flex-direction:column;
	align-items:center;

	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	margin-top:10vh;
	width:100%;
	max-width:1000px;
	border:solid 1px #999;
	border-radius:8px;
	background-color:var(--white);
	padding:20px;

	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
    overflow: auto;
    margin-bottom: 20px;
}

.closing {
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.closing > .modal-content {
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 

.popup-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.transfering-wrapper{
    padding-right: 10px;
    border-right: 2px solid var(--coldBlue);
}

/******************************************/
            /* EMPLOYEE */
/******************************************/


.user-wrapper-link{
    width: 100%;
    height: 40px;
    background-color: var(--lightBlue);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: var(--darkBlue);
    font-weight: 500;
}

.account-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.account-wrapper a{
    width: 100%;
    height: 40px;
    background-color: var(--lightBlue);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
}

input[type=submit]{
    cursor: pointer;
}