{% extends "account_management_app/base.html" %}
{% block content %}

<div>
    <h1 class="heading">My profile</h1>
    <div>
        <p>First name: {{user.first_name}}</p>

        <p>Last name: {{user.last_name}}</p>

        <p>Phone number: {{customer.phone_number}}</p>
        <p>Rank: {{customer.rank}}</p>
    </div>
</div>
{% endblock %}
