{% extends "employee_app/base.html" %}
{% block content %}

<h1>All customers</h1>
{% for customer in customers %}
<div class="user-wrapper-link">
    <a href="{% url 'employee_app:customer_detail' pk=customer.pk %}">
        {{customer.user.username}}
    </a>
</div>
{% endfor %}
{% endblock %}
